.fc-event {
    background-color: #C4B5FD !important;
    /* Replace with your app's secondary color */
}

.fc-button {
    background-color: #8B5CF6 !important;
    border-color: #8B5CF6 !important;
    border-radius: 8px !important;
    margin: .5rem !important;
}

.fc-button:hover {
    background-color: #6B21A8 !important;
}

.fc-event {
    border-radius: .5rem !important;
    /* Rounded corners for events */
    /* Add more styling as per your app's theme */
}

.fc-day-today {
    background-color: #efe9ff !important;
}