 /* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a light background color */
body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column; /* Column layout for header and content */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure at least full viewport height */
}

/* Style the header */
.header {
  background-color: #3498db;
  color: white;
  padding: 16px;
  width: 100vw;
  position: fixed; /* Position header at the top */
  top: 0; /* Stick header to the top */
  left: 0;
  border-radius: 15px;
}

/* Style buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 8px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.primary-button {
  background-color: #3498db;
  color: white;
}

.secondary-button {
  background-color: #2ecc71;
  color: white;
}

.button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

/* Style cards for tasks and events */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

/* Style icons */
.icon {
  font-size: 24px;
  margin-bottom: 8px;
}

/* Style form elements */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100%; /* Make the container take up the full height */
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 20%;
  align-items: center;
}

.form label {
  margin-bottom: 8px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 12px;

}

/* Add a subtle animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to cards */
.card-animation {
  animation: fadeIn 0.5s ease-in-out;
}

/* Custom styles for specific sections or components can be added here */

/* Example section for lists */
.lists-section {
  /* Add specific styles for your lists section */
}

/* Example section for the calendar */
.calendar-section {
  /* Add specific styles for your calendar section */
}
